{% extends "layout.html" %}

{% block title %}
<title>Hakkımızda</title>

{% endblock title %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p> Hakkımda: İbrahim Çeçen Üniversitesinde Bilgisayar ve Öğretim Teknolojileri Eğitmenliği. Cardinal Stefan Wyszynski University Bilgisayar Bilimi öğrencisiyim. Aynı zamanda Web Programcılığı mezunuyum. Alanımda kisisel bloglar, videolar ve forum siteleri en büyük yardımcım diyebilirim. Blog yazmaya 2016 yılında karar verdim ve siz değerli ziyaretçilerim ile paylasmayı esas alarak yayın hayatıma basladım.</p>
<hr>


{% endblock body %}

