{% extends "layout.html" %}

{% block title %}

    <title>Detay</title>

{% endblock title %}

{% block body %}

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
  
          <!-- Title -->
          <h3 class="mt-4">{{article.title}}</h3>
  
          <!-- Author -->
          <p class="lead">
            
            "{{article.author.username}}" tarafından yayınlandı
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p>{{article.creation_date}}</p>
  
          <hr>
  
          <!-- Preview Image -->
          {% if article.image %}
            <img class="img-fluid rounded" src="{{article.image.url}}" alt="">
          {% endif %}
          
  
          <hr>

          <!-- Post Content -->
          <p class="lead">{{article.content|safe}}</p>
  
            <!-- Comments Form -->
            {% if comments %}
                <br>
                <h4>Yorumlar</h4>
                <hr>
                {% for comment in comments  %}
                   <!-- Single Comment -->
                
                  <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">{{comment.comment_author}}</h5>
                      {{comment.comment_date}}
                      <br>
                      {{comment.comment_content}}
                    </div>
                  </div>
                {% endfor %}
               
            {% else %}
              <div class="alert alert-danger">Bu makalede herhangi bir yorum bulunmuyor.</div>
            {% endif %}
            <div class="card my-4">
              <h5 class="card-header">Bir yorum ekleyin:</h5>
              <div class="card-body">
                <form method = "POST" action="{% url 'article:comment' article.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="formGroupExampleInput">İsminiz: </label>
                      <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi Giriniz...">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Yorumunuz: </label>
                      <textarea name = "comment_content" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
              </div>
            </div>

          
        </div>
    </div>
      <!-- /.row -->

{% endblock body %}